# App Global Variables
PORT = 5000
REACT_APP_URL = 'http://localhost:3000'

# MongoDB URL
MONGODB_URL_CONNECTION = 'mongodb://10.50.5.198:27017/test'

# JWT Secret Keys And Their Expiration.
ACCESS_TOKEN_SECRET_KEY = 'XXXXXXX'
REFRESH_TOKEN_SECRET_KEY = 'XXXXXXX'

ACCESS_TOKEN_EXPIRATION = '7m'
REFRESH_TOKEN_EXPIRATION = '1d'


# OAuth API Credentials And Callback URLs
GOOGLE_CLIENT_ID = 'XXXXXXX'
GOOGLE_CLIENT_SECRET = 'XXXXXXX'
GOOGLE_CALLBACK_URL = 'XXXXXXX'

FACEBOOK_CLIENT_ID = 'XXXXXXX'
FACEBOOK_CLIENT_SECRET = 'XXXXXXX'
FACEBOOK_CALLBACK_URL = 'XXXXXXX'
